* {
    border: 0px solid black;
    caret-color: transparent;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
}

.calculator {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.display {
    text-align: center;
    max-width: 300px;
    width: 100%;
    border: 3px darkgreen solid;
    border-bottom: 0;
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: mintcream;
}

.display p {
    font-size: 24px;
    margin: 0;
    margin-right: 8px;
}

#calc-style {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 0;
    color: forestgreen;
}


.buttons {
    border: 0px blue solid;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

button {
    border: 3px solid darkgreen;
    height: 50px;
    padding: 0;
    margin: 0;
    border-right: 0;
    border-bottom: 0;
    box-sizing: border-box;
    background-color: honeydew;
    font-size: 20px;
}

button:hover {
    background-color: rgb(209, 250, 209);
}

button:active {
    background-color: rgb(171, 240, 171);
}

.row {
    display: flex;
    max-width: 300px;
    width: auto;
    border: 0;
}

.clear {
    flex: 3;
    padding-right: 5px;
}

.operator {
    flex: 1;
}

.right-most {
    border-right: 3px solid darkgreen;
}

.bottom-most {
    border-bottom: 3px solid darkgreen;
}

.number {
    flex: 1;
}

.zero {
    flex: 2;  
    padding-right: 3px;  
}