@font-face {
    font-family: "pocket calculator";
    src: url(../pocket-calculator/pocket_calcuatlor_ot.otf);
}

@font-face {
    font-family: "discotechia";
    src: url(../discotechia/discotechia.ttf);
}

@font-face {
    font-family: "discotechia-straight";
    src: url(../discotechia/discotechiastraight.ttf);
}

* {
    border: 0px solid black;
    caret-color: transparent;
    font-family: "discotechia-straight", sans-serif;
}

html {
    width: 100%;
    height: 100%;
    border-bottom: 0px solid black;
    background-color: rgb(83, 114, 89);
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(155, 192, 162);
    margin: 0;
    opacity: 1;
    background-size: 0;
    background-position: 0;
    background-image: none;
}

header {
    border: 0px solid red;
    width: 100%;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
}

header p {
    flex: 1 1 auto;
    font-family: 'discotechia', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 5px solid black;
    text-align: center;
    background-color: honeydew;
}

.calculator {
    border: 0px red solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 48px;
    border-bottom: 5px solid black;
}

.display {
    text-align: center;
    max-width: 304px;
    width: 100%;
    border: 3px darkgreen solid;
    border-bottom: 0;
    min-height: 80px;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: mintcream;
    border-right: 4px solid black;
    word-break: break-all;
    padding: 2px;
}

.display p {
    font-size: 36px;
    margin: 0;
    margin-right: 8px;
    font-family: "pocket calculator", sans-serif;
}

#calc-style {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 0;
    color: forestgreen;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.buttons {
    border: 0px blue solid;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

button {
    border: 3px solid darkgreen;
    height: 50px;
    padding: 0;
    margin: 0;
    border-right: 0;
    border-bottom: 0;
    box-sizing: border-box;
    background-color: honeydew;
    font-size: 32px;
}

button:hover {
    background-color: rgb(209, 250, 209);
}

button:active {
    background-color: rgb(171, 240, 171);
}

.row {
    display: flex;
    max-width: 300px;
    width: auto;
    border: 0;
}

.clear {
    flex: 3;
    padding-right: 5px;
}

.back {
    flex: 3;
    padding-right: 5px;
    display: none;
}

.operator {
    flex: 1;
}

.right-most {
    border-right: 3px solid darkgreen;
    background-color: #7AA883;
    color: honeydew;
}

.right-most:hover {
    background-color:rgb(83, 114, 89);
}

.right-most:active {
    background-color: darkgreen;
}

.bottom-most {
    border-bottom: 3px solid darkgreen;
}

.number {
    flex: 1;
}

.zero {
    flex: 2;  
    padding-right: 3px;  
}

#empty-space {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #537259;
    opacity: 0.8;
    background-image:  linear-gradient(#F0FFF0 2px, transparent 2px), linear-gradient(90deg, #F0FFF0 2px, transparent 2px), linear-gradient(#F0FFF0 1px, transparent 1px), linear-gradient(90deg, #F0FFF0 1px, #537259 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}